.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.note-card .icons {
  display: none !important;
}

.note-card:hover .icons {
  display: flex !important;
}

.sign {
  display: inline-block;
  margin: 20px 0px;
}

.sign a {
  text-decoration: none;
  padding: 5px;
  transition: 0.5s ease;
  border-radius: 10px;
}

.sign a:hover {
  text-decoration: underline;
  background: #a5c1f3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}